<div class="card h-100">
    <div class="card-body {% if note.color.value == 'yellow' %} yellow-card {% elseif note.color.value == 'red' %} red-card {% elseif note.color.value == 'blue' %} blue-card {% elseif note.color.value == 'green' %} green-card {% endif %}">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.content }}</p>
        <a href="{{ path('note_edit', { 'id': note.id }) }}" class="btn note-card-btn edit-link">Edit</a>
        <form action="{{ path('note_delete', {'id': note.id}) }}" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('delete-note') }}">
            <input type="hidden" name="redirect_to" value="{{ app.request.requestUri }}">
            <button type="submit" class="btn note-delete-btn note-card-btn">Delete</button>
        </form>
    </div>
    <div class="card-footer">
        <small class="text-muted">Created at: {{ note.createdAt | date }}</small>
    </div>
</div>